<div class="container mt-5">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Attention!
    </h4>
      <p>Your online access is currently on hold. We noticed some activities which require you to verify your identity.
    </p>
      <hr>
      <p class="mb-0">Click the verify button below to verify your account now.
    </p>

    <br/>
    <br/>
    <form action="/users/questions" method="GET">
<div class="text-center">
  <button type="submit" class="btn btn-primary">
    Verify
  </button>
</div>
</form>
  
    </div>
  </div>