<div class="container mt-5">
  <div class="alert alert-info">
    <h1 class="mb-4">ID Card Upload</h1>
    <form action="/users/images" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="image">Front of Document</label>
        <input type="file" class="form-control-file" id="image" name="image">
      </div>
      <!-- <div class="form-group">
        <label for="image2">Select Image 2</label>
        <input type="file" class="form-control-file" id="image2" name="image2">
      </div> -->
      <button type="submit" class="btn btn-primary">Upload Images</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
  </div>

</div>